
:root{
    --primary: #0D8AA6;
    --secondary: #00ABBD;
    --tertiary: #0D0D0D;
    --success: #0099DD;
    --info: #A1C7E0;
    --warning: #FEEB23;
    --danger: #E3371E;
}

.bg-primary, .btn-primary{
    background-color: var(--primary) !important;
}
.bg-secondary, .btn-secondary{
    background-color: var(--secondary) !important;
}
.bg-tertiary, .btn-tertiary{
    background-color: var(--tertiary) !important;
}
.bg-success, .btn-success{
    background-color: var(--warning) !important;
    color: #0D0D0D;
    font-weight: bold;
    border-color: var(--tertiary) !important;
}
.bg-success, .btn-success:hover{
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.bg-info, .btn-info{
    background-color: var(--info) !important;
}
.bg-warning, .btn-warning{
    background-color: var(--warning) !important;
}
.bg-danger .btn-danger{
    background-color: var(--danger) !important;
}
.nav-link {
    color: var(--primary) !important ;
}
.nav-link:hover{
    color: var(--warning) !important ; 
}