@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  line-height: 1.6;
  min-height: 100vh;
  background-color: #111;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1200px;
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px auto;
}

/* div {
  border: 1px solid red;
} */

/* header */

.logo img {
  display: block;
  width: 350px;
  margin-bottom: 24px;
}

.navigation-search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.navigation-search .group {
  display: flex;
  gap: 16px;
  border: 2px solid #ffe81f;
  padding: 12px 24px;
  border-radius: 24px;
  padding: 12px;
  background-color: #fff;
}

.group input {
  font-family: inherit;
  width: 300px;
  border: none;
  outline: none;
  font-size: 16px;
}

.navigation-search .icon-search {
  width: 24px;
  border: 20px;
  stroke: #ffe81f;
}

.btn-search {
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 12px 24px;
  font-family: inherit;
  color: #fff;
  border: 2px solid #ffe81f;
  background-color: #111;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 2px;
}

.btn-search:hover {
  color: #fff;
  background-color: #ffe81f;
}

.filters {
  margin: 0;
  padding: 0;
  width: 400px;
  text-align: center;
}

.filters button {
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 8px 24px;
  font-family: inherit;
  color: #fff;
  border: 2px solid #ffe81f;
  background-color: #111;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 12px;
}

/* card list character */
.character-list {
  margin-top: 24px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  justify-content: center;
  padding: 0 16px;
}

/* .character-card {
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.8);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 8px;
  text-align: center;
  position: relative;
  overflow: hidden;

  text-decoration: none;
  height: 300px;
} */

.character-card {
  position: relative;
  height: 320px;

  overflow-y: hidden;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

.character-card .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 16px;
  transform: translate3d(0, -100%, 0);
  transition: transform 300ms;
}

.character-card .id {
  font-size: 36px;
}

.character-card .up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.character-card .up:hover ~ .overlay,
.character-card .up:focus ~ .overlay {
  transform: translate3d(0, 0, 0);
}
.character-card .up:hover ~ .overlay .title,
.character-card .up:focus ~ .overlay .title {
  transform: translate3d(0, 0, 0);
}
.character-card .up:hover ~ .overlay .status,
.character-card .up:focus ~ .overlay .status {
  opacity: 1;
}
.character-card img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.character-card .overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  border-top: 1px solid #fff;
  transition: transform 300ms;
  background-color: #111;
  transform: translate3d(0, 100%, 0);
}

.character-card .status {
  color: inherit;
  flex-grow: 1;
  padding: 16px;
  opacity: 0;
  transition: opacity 500ms 100ms;
}
.character-card .status ul {
  margin: 0;
  list-style: none;
  font-size: 18px;
}
.btn-more {
  font-size: 14px;
  padding: 8px;
  background-color: #111;
  color: #fff;
  border: 2px solid #fff;
  border-bottom: none;
  border-radius: 8px;
  text-decoration: none;
}

.btn-more:hover {
  font-size: 16px;
  font-weight: 700;
  background-color: #ffe81f;
  color: #111;
}

/* character page */

.character-page {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 12px;
}

.character-page h1 {
  font-size: 44px;
  color: #ffe81f;
  margin-left: 8px;
}

.character-page .info {
  display: flex;
  justify-content: space-between;
}

.character-page .info ul {
  padding: 32px;
  font-size: 20px;
}

.character-info li {
  margin-top: 12px;
}
.character-page-img {
  height: 320px;
  padding: 8px;
}

.character-page-img img {
  width: 300px;
  height: 300px;

  border-radius: 24%;
  object-fit: cover;
}

/* loader */
.loader {
  display: flex;
  justify-content: center;
  margin: 160px 0;
}

/* pagination */

.pagination-list {
  display: flex;

  gap: 16px;
  list-style: none;
  margin: 0 auto;
  margin-bottom: 8px;
}

.pagination-link {
  display: inline-block;
  padding: 8px;

  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
}

.is-current {
  background-color: #ffe81f;
  color: #111;
}
