.header {
    width: 100%;
    display: flex;
    //justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 130px;
    margin-bottom: 500px;
    margin-left: 30px;
}

.header-title {
    font-size: 20px;
    margin-bottom: 500px;
    margin-left: 10px;
    color: #f8c104;
}

.search-input {
    width: 260px;
    height: 4px;
    text-align: left;
    padding: 20px;
    font-size: 18px;
    color: white;
    background-color: #1a1b1f;
    outline: none;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid white;
    margin-bottom: 500px;
    margin-left: 50px;
    
  }

  ::placeholder {
    font-size: 18px;
  }

.search-input:hover {
    border: 1px solid #f8c104;
}

.search-button {
    width: 50px;
    height: 50px;
    margin-left: -1px;
    margin-bottom: 500px;
    border-radius: 0px 5px 5px 0px;
    background-color: #f8c104;
}

.search-button:hover {
    background-color: #f8c104;
}

.genre {
    width: 150px;
    height: 40px;
    font-size: 18px;
    margin-bottom: 500px;
    margin-left: 40px;
    border: 1px solid #f8c104;
    border-radius: 5px;
    color: #ffffff;
    background-color: #1a1b1f;

}

.genre:hover {
    color: #f8c104;
}

.films {
    width: 150px;
    height: 40px;
    font-size: 18px;
    margin-bottom: 500px;
    margin-left: 40px;
    border: 1px solid #f8c104;
    border-radius: 5px;
    color: #ffffff;
    background-color: #1a1b1f;
}

.films:hover {
    color: #f8c104;
}

.species {
    width: 150px;
    height: 40px;
    font-size: 18px;
    margin-bottom: 500px;
    margin-left: 40px;
    border: 1px solid #f8c104;
    border-radius: 5px;
    color: #ffffff;
    background-color: #1a1b1f;
    //transition: background-color 0.3s;
    
}

.species:hover {
    color: #f8c104;
    
}