button{
    background-color: #18242D;
    color: yellow;
    font-family: "Jedi";
    border-radius: 30px;
    border: 2px solid yellow;
}

button:hover{
    background-color: yellow;
    color: #18242D;
    font-family: "Jedi";
    border-radius: 30px;
    border: 2px solid #18242D;
    cursor: pointer;
}

nav{
    font-family: "Jedi";
    display: flex;
    justify-content: space-around;
    margin: 10px 1px 30px 10vw
}

.title{
    margin: 0px;
    font-size: 2.28em;
    color: yellow
}

.Active{
    background-color: yellow;
    color: #18242D;
    font-family: "Jedi";
    border-radius: 30px;
    border: 2px solid #18242D;
}