* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
  overflow: hidden;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe81f;
  height: 100vh;
}

.movies-body {
  width: 97vw;
  height: 95vh;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.main-page {
  color: white;
}

.header-title {
  font-size: 30px;
  color: #ffe81f;
  margin-top: 1px;
  margin-right: 600px;
  
}

.logo {
  width: 200px;
  margin-left: 50px;
}

.title-select-gender {
  font-size: 23px;
  color: #ffe81f;
}

#gender-select {
  width: 180px;
  height: 28px;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 21px;
  
}

#gender-select:hover {
  border-color: #ffe81f;
  background-color: #FFFAC1;
}




