* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;
  overflow: hidden;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1CA0D1;
  height: 100vh;
}

.movies-body {
  width: 97vw;
  height: 95vh;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}


.logo-container img{
  margin-top: 1rem;
  margin-left: 5rem;
  width: 20rem;
}

.movie-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
}

.movie-card-data {
  height: 21rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: brightness(0.8);
  margin-bottom: 1.5rem;
  
  transition: transform 0.8s;
  
}

.movie-card-data span {
  filter: brightness(1);

}

.movie-card-data:hover{
  transform: scale(1.1);
  filter: brightness(1);
}

.movie-banner-movie-title {
  font-size: 14px;
  text-align: center;
  width: 90%;
  margin-top: 0.5rem;
}

.movie-card-wrapper {
  overflow-y: scroll;
  width: 100%;
  height: 45rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.movie-card-wrapper::-webkit-scrollbar {
  width: 8px;
  background-color: #eef5f8;
}

.movie-card-wrapper::-webkit-scrollbar-thumb {
  background-color: #1CA0D1 ;
  border-radius: 10px;
}

.movie-card {
  width: 14rem;
  height: 21rem;
  border-radius: 15px;
  margin-left: 0.5rem;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);

}

.movie-card-content {
  width: 100%;
}

.movie-banner-img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}

.movies-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 12rem;
}

.search-container {
  margin-right: 5rem;
  width: 20rem;
  height: 3rem;
}

.search-container input {
  width: 20rem;
  height: 3rem;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
}

.btn-container {
  width: 20rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}


.btn-container button {
  width: 6rem;
  background-color: #1CA0D1;
  height: 2rem;
  border: none;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.btn-container button:hover {
  filter: brightness(1.2);
}

.movie-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}

.movie-details-return-btn {
  margin-bottom: 1rem;
}

.movie-details-return-btn button {
  background-color: #1CA0D1;
  border: none;
  width: 6rem;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: filter 0.6s;
}

.movie-details-return-btn button:hover {
  filter: brightness(1.2);
}

.movie-details-poster-container {
  height: 53rem;
  width: 43rem;
}

.movie-details-poster-wrapper{
  display: flex;
  flex-direction: row;
}

.movie-details-poster-wrapper h1 {
  font-family: 'Questrial', sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3.5rem;
  font-weight: 400;
}

.movie-details-poster-wrapper h3 {
  font-weight: 400;
}

.movie-details-poster-wrapper h4 {
  font-weight: 400;
  font-size: 1rem;
}

.movie-details-poster-container img {
  height: 100%;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


.movie-details-info p {
  margin-top: 2rem;
}

.movie-details-info {
  width: 60rem;
  text-align: justify;
}

.movie-details-director-rating {
  width: 22rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

@media (max-width: 1440px) {
  .movie-card {
    width: 10rem;
    height: 15rem;
  }
  .movie-card-wrapper {
    height: 27rem;
  }
  .logo-container img{
    margin-left: 5rem;
    width: 18rem;
  }
  .search-container input {
    height: 2rem;
  }
  .btn-container button {
    height: 1.7rem;
  }
  .movie-card-data {
    height: 17rem;
    margin-bottom: 1rem;
  }
  .movie-details-poster-container {
    height: 35rem;
    width: 25rem;
  }
  .movie-details-info {
    width: 50rem;
    text-align: justify;
    margin-left: 2rem;
  }

}

@media (max-width: 768px) {
  .movie-card {
    width: 10rem;
    height: 15rem;
  }
  .movie-card-wrapper {
    height: 22rem;
    width: 70rem;
  }
  .logo-container img{
    margin-left: 5rem;
    width: 13rem;
  }
  .search-container input {
    height: 2rem;
  }
  .btn-container button {
    height: 1.7rem;
  }
}