* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
  overflow: hidden;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe81f;
  height: 100vh;
}

.movies-body {
  width: 97vw;
  height: 95vh;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.main-page {
  color: white;
}

.logo {
  width: 200px;
  margin-left: 50px;
}

#gender-select {
  width: 300px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 26px;
  margin-left:800px;
  margin-top: 20px; 
  cursor: pointer; 
  border-color: #ffe81f;  
}

#gender-select:hover {
  background-color: #FFE855;
}

#species {
  width: 300px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 26px;
  margin-right: 70px;
  margin-top: 20px; 
  cursor: pointer; 
  border-color: #ffe81f; 
}

#species:hover {
  background-color: #FFE855;
}
