.card {
  height: 85%;
  width: 100%;
  border-radius: 4px;
  display: flex;
  /* border: solid #FFE81F 1px; */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 0.2rem solid #fff;
  border-radius: 10px;
  padding: 0.4em;
  box-shadow: 0 0 .1rem #fff,
    0 0 .1rem #fff,
    0 0 1rem #090a4d,
    0 0 0.8rem #090a4d,
    0 0 0.8rem #090a4d,
    inset 0 0 1.3rem #090a4d;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 6px;
}


.character__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  letter-spacing: 5px;
}

.character__info>h2 {
  font-family: SpaceTravel;

}