.modal__content {
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: center;
}

.modal__close-button {
  width: 44px;
  height: 44px;
  margin-bottom: 22px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 28px;
  background-color: var(--color-gray-1);
  color: var(--color-orange-2);
  align-self: start;
}

.modal__close-button:hover {
  background-color: var(--color-white);
  color: var(--color-white);
  text-shadow: 2px 2px 6px var(--color-orange-1);

  box-shadow: 2px 2px 16px 4px var(--color-orange-2);
}
