.searchWrapper {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 100%;
  margin-top: 3em;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #C4C8CA;
  width: 1rem;
  height: 1rem;
}
